<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
		<title>JoinHub | Share your referral codes :)</title>
	</head>
	<body>
		<header>
		</header>
		<div class="roseSegment">
			
		</div>
		<div id="secondSegmentIndex" class="blueSegment">
			
		</div>
		<div class="roseSegment">
			
		</div>
		<div class="blueSegment">
			
		</div>
		<footer class="mainFooter">
			<a href="#">Privacy policy</a>
			<a href="#">Terms & conditions</a>
			<a href="#">2019 &#169; SnapLix</a>
		</footer>
	</body>
</html>